body {
    padding-top: 5rem;
    background-color: #f0f8ff;
}
.pro{
        background-color: white;
        border-style: solid;
        border-width: 4px;
        border-top-color: #007bff;
        border-left-color:  white;
        border-right-color: white;
        border-bottom-color: white;
        border-radius: 5px;
        margin-right: 30%;
        margin-left: 20%;
        padding: 10px;
        padding-left: 20px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        min-height:100px;
        display: grid;
    }

label {
    font-weight: bold;
}
.info{
    display: inline-block;
    margin:0;
}

.heading{
    margin-left: 20%;
    font-weight: bold;
}

.btn-v{
    border-radius: 4px;
    background-color: #32CD32;
    color: white;
    border-width: 0px;
    width: 130px;
    margin-left: 70%;
    text-align: center;
}


.bio{
    border: solid 1px white;
    white-space: normal;
    overflow: auto;
    min-height: 50px;
    color:grey;
    width: 500px;
}
.btn-s{
    border-radius: 3px;
    background-color: #32CD32;
    color: white;
    border-width: 0px;
    width: 150px;
    margin-left: 20%;
    margin-right: 5%;
}
.btn-f{
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    border-width: 0px;
    width: 150px;
}

.prob{
    display:flex;
    align-items: center;
}
.icons{
    color:grey;
    font-family: sans-serif;
}
#uimg{
    height: 135px;
    width: 120px;
    margin-right: 25px;
    margin-bottom: 5px;
}
.iconp{
    height: 25px;
    width:25px;
    margin-right: 8px;
}
.name{
    color: black;
    font-weight: bold;
}
