{% extends "base.html" %}
{% block main %}


<h1 class="heading">Add Profile</h1>
<br>
<form action="{{url_for('profile')}}" method='POST' enctype = "multipart/form-data"> 
    {{ form.csrf_token }} 
    <div class="pro">
     <div class="pform">
         {{ form.fname.label }} 
         {{ form.fname(class='form-control') }} 
     </div> 
     <br>
     <div class="pform">
         {{ form.lname.label }}
         {{ form.lname(class='form-control') }}
     </div> 
     <br>
     <div class="pform">
         {{ form.gender.label }} 
         {{ form.gender(class='form-control',placeholder="Select Gender" )}}
     </div> 
     <br>
     <div class="pform">
         {{ form.email.label }}
         {{ form.email(class='form-control', placeholder="e.g. jdoe@example.com") }}
     </div> 
     <br>
     <div class="pform">
         {{ form.location.label }} 
         {{ form.location(class='form-control', placeholder="e.g. Kingston, Jamaica") }}
     </div> 
     <br>
     <div class="pform">
         {{ form.biography.label }}
         {{ form.biography( class='form-control') }}
     </div> 
     <br>
     <div class="pform">
         {{ form.ppicture.label }}
         {{ form.ppicture(class='form-control') }}    
     </div>  
     <br>
     <button type="submit" name="submit" id="btn">Add Profile</button> 
    </div>
</form>
    {% endblock %}